p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(43, 226, 180);
  padding: 20px;
  border: 5px solid rgb(192, 255, 193);
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h1 {
  color: lightgreen;
}
