h1 {
  color: rgb(1, 61, 20);
}
.purple {
  color: blueviolet;
}
html {
  background-color: rgb(124, 230, 123);
}
p {
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(230, 232, 231);
  padding: 20px;
  border: 5px solid rgb(171, 240, 11);
  border-radius: 50px;
}
.navbar {
  background-color: lightseagreen !important;
}
.navbar .form-control::placeholder {
  color: black;
}
.navbar input {
  background-color: aqua;
}
.hands-container {
  display: flex;
  justify-content: center;
}
